body {
  font-family: Ubuntu;
  font-size: 18px;
  color: #212121; }

.container {
  max-width: 940px; }

.stripe {
  background-size: cover;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 2em; }

.stripe-head {
  padding-bottom: 4em;
  padding-top: 33px;
  background-image: url(/img/head-bg.jpg);
  background-position: 70% center;
  text-align: center; }
  .stripe-head .logo {
    text-align: left; }
  .stripe-head address .phone {
    font-size: 24px;
    font-weight: 600;
    color: #FDDD4B;
    position: relative; }
    .stripe-head address .phone:before {
      content: "";
      display: block;
      background: transparent url(/img/header-phone.png) left center no-repeat;
      height: 43px;
      width: 43px;
      position: absolute;
      left: 0;
      top: -5px; }
  .stripe-head address .city {
    font-weight: 200; }
  .stripe-head h1 {
    margin-top: 50px;
    font-size: 48px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 50px; }
    .stripe-head h1 em {
      font-style: normal;
      border-bottom: 8px solid #FEDE4B; }
  .stripe-head .dreams {
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 60px; }
    .stripe-head .dreams span {
      font-size: 50px;
      background: transparent url(/img/header-brush.png) center no-repeat;
      display: block;
      margin-top: 1rem;
      color: #212121; }
      .stripe-head .dreams span small {
        font-size: 30px;
        font-weight: 400; }
  .stripe-head form input, .stripe-head form button {
    height: 55px;
    vertical-align: middle;
    display: inline-block;
    width: 30%;
    margin: 0 1%; }
  .stripe-head form h3 {
    color: #fff;
    margin-bottom: .7em; }
  .stripe-head form button {
    font-size: 24px;
    font-weight: 600; }

.stripe-why-you-here ul {
  list-style: none; }

.stripe-why-you-here {
  font-size: 20px; }
  .stripe-why-you-here li {
    position: relative;
    width: 400px;
    height: 100px;
    padding-left: 130px;
    margin-bottom: 30px; }
    .stripe-why-you-here li span {
      display: table-cell;
      vertical-align: middle;
      height: 100px; }
    .stripe-why-you-here li:before {
      content: "";
      display: inline-block;
      width: 100px;
      height: 100px;
      vertical-align: middle;
      position: absolute;
      left: 0;
      border-radius: 100%;
      background-color: #fede4b;
      background-position: center;
      background-repeat: no-repeat; }
    .stripe-why-you-here li.icon-1:before {
      background-image: url(/img/why-icons/1.png); }
    .stripe-why-you-here li.icon-2:before {
      background-image: url(/img/why-icons/2.png); }
    .stripe-why-you-here li.icon-3:before {
      background-image: url(/img/why-icons/3.png); }
    .stripe-why-you-here li.icon-4:before {
      background-image: url(/img/why-icons/4.png); }
    .stripe-why-you-here li.icon-5:before {
      background-image: url(/img/why-icons/5.png); }
    .stripe-why-you-here li.icon-6:before {
      background-image: url(/img/why-icons/6.png); }

.stripe-why-marketing {
  background-image: url(/img/why-bg.jpg);
  text-align: center; }
  .stripe-why-marketing span {
    display: block;
    margin-bottom: 2em; }
  .stripe-why-marketing img {
    margin-bottom: 2em; }
  .stripe-why-marketing .diag-label:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-color: #F55141; }

.stripe-comparison {
  font-size: 20px;
  text-align: center; }
  .stripe-comparison .users > div {
    padding-top: 420px;
    background: transparent url(/img/users1.png) center no-repeat; }
  .stripe-comparison .users .users-many {
    background-image: url(/img/users.png);
    background-position: center top; }

.stripe-services .list {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #4C7370;
  border-top-left-radius: .3em;
  border-top-right-radius: .3em;
  font-weight: bold;
  color: #fff;
  overflow: hidden; }
  .stripe-services .list li {
    height: 100px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 290px;
    cursor: pointer; }
    .stripe-services .list li:hover, .stripe-services .list li.active {
      background-color: #FDDD4B;
      color: #212121; }
    .stripe-services .list li.nav {
      width: 50px;
      font-weight: bold;
      font-size: 2em;
      background: transparent url(/img/nav/left.png) center no-repeat;
      padding: 0 0.8em; }
      .stripe-services .list li.nav:hover {
        background-color: #4C7370;
        color: #FDDD4B; }
      .stripe-services .list li.nav.left {
        border-right: 1px solid #3F5B59; }
        .stripe-services .list li.nav.left:hover {
          background-image: url(/img/nav/left-active.png); }
      .stripe-services .list li.nav.right {
        background-image: url(/img/nav/right.png);
        border-left: 1px solid #3F5B59; }
        .stripe-services .list li.nav.right:hover {
          background-image: url(/img/nav/right-active.png); }

.stripe-services .service {
  background: #EBEFF1 url(/img/services/1.jpg) top left no-repeat;
  padding-left: 385px;
  height: 450px;
  border: 1px solid rgba(100, 133, 130, 0.5);
  border-top: 0;
  border-bottom-left-radius: .3em;
  border-bottom-right-radius: .3em;
  box-shadow: inset 0px 5px 5px -2px rgba(0, 0, 0, 0.3); }
  .stripe-services .service.service1 {
    background-image: url(/img/services/1.jpg); }
  .stripe-services .service.service2 {
    background-image: url(/img/services/2.jpg); }
  .stripe-services .service.service3 {
    background-image: url(/img/services/3.jpg); }
  .stripe-services .service.service4 {
    background-image: url(/img/services/4.jpg); }
  .stripe-services .service.service5 {
    background-image: url(/img/services/5.jpg); }
  .stripe-services .service.service6 {
    background-image: url(/img/services/6.jpg); }
  .stripe-services .service .title {
    font-size: 24px;
    text-align: left;
    padding-top: 2em;
    padding-bottom: 1em; }
  .stripe-services .service ul {
    padding-left: 1em; }
  .stripe-services .service a {
    color: #212121;
    font-weight: 500;
    font-size: 18px; }
  .stripe-services .service .content {
    min-height: 350px; }
  .stripe-services .service .btn {
    padding: .5em 2em; }

.stripe-want-better {
  background-image: url(/img/better-bg.png); }

.stripe-want-important {
  padding-bottom: 4em; }
  .stripe-want-important .importants div {
    background: transparent url(/img/important1.png) bottom center no-repeat;
    height: 230px;
    width: 48%;
    margin-right: 4%;
    padding-top: 3em;
    background-size: contain; }
  .stripe-want-important .importants .important1 {
    background-image: url(/img/important1.png); }
  .stripe-want-important .importants .important2 {
    background-image: url(/img/important2.png);
    margin-right: 0; }
  .stripe-want-important .importants span {
    display: block;
    width: 220px; }

.stripe-questions {
  background-image: url(/img/questions-bg.jpg);
  height: 615px; }
  .stripe-questions h2 {
    color: #FDDD4B; }
  .stripe-questions h4 {
    color: #fff; }
  .stripe-questions small {
    color: #BDC3C7; }

.stripe-footer {
  background-color: #ECF0F1;
  padding-top: 50px; }
  .stripe-footer .brand + p {
    margin-top: .5em;
    margin-bottom: .5em; }
  .stripe-footer .social-icons a {
    display: inline-block;
    height: 32px;
    width: 32px;
    text-align: center;
    background-color: #4d7470;
    border-radius: 100%;
    line-height: 29px;
    margin-right: .3em; }
    .stripe-footer .social-icons a:hover {
      background-color: #FBD839; }
  .stripe-footer address {
    margin-bottom: .5em; }
  .stripe-footer .contacts .phone {
    padding-top: 10px;
    font-size: 24px;
    font-weight: 600; }
  .stripe-footer .contacts a {
    display: block;
    color: #3D615D;
    padding-left: 32px;
    background: transparent url(/img/footer-email.png) left center no-repeat;
    margin-bottom: .5em; }
    .stripe-footer .contacts a.request-call {
      background-image: url(/img/footer-phone.png);
      background-position: 2px; }

.btn-yellow {
  background-color: #FDDD4B;
  border-color: transparent; }
  .btn-yellow:hover {
    background-color: #EEC502; }

h2 {
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  padding-top: 1em;
  margin-bottom: .5em; }

h3 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding-top: 1em; }

h4 {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 1.5em; }

.form-control {
  border-width: 3px;
  border-color: transparent;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35); }
  .form-control:focus {
    border-color: #FDDD4B; }

form.vertical {
  text-align: center; }
  form.vertical input, form.vertical button, form.vertical small {
    display: block;
    width: 390px;
    margin: 1em auto;
    height: 55px; }
  form.vertical button {
    font-size: 24px;
    font-weight: 600; }
  form.vertical small {
    font-size: 14px;
    font-weight: 200; }
    form.vertical small:before {
      content: "";
      display: inline-block;
      background: transparent url(/img/lock.png) center no-repeat;
      height: 15px;
      width: 15px;
      margin-bottom: 4px;
      vertical-align: bottom;
      margin-right: 10px; }

.alert.email-sent {
  margin: 0;
  text-align: center;
  font-size: 1.2em;
  position: fixed;
  width: 100%;
  z-index: 100;
  height: 70px;
  top: 0;
  border-radius: 0; }
  .alert.email-sent + .stripe {
    margin-top: 70px; }

@media (min-width: 768px) {
  .container {
    max-width: 940px; } }
